@media (max-width: 375px) {
  body {
    padding: 20px;
  }

  main {
    margin-top: 5vh;
  }

  h1 {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 1.7rem;
  }
  h3 {
    font-size: 1rem;
  }
  h4 {
    font-size: 0.6rem;
  }

  .dashboard-header {
    padding-top: 0;
    margin: -20px;
  }

  .dashboard-header-wrapper {
    flex-direction: column;
    padding: 20px;
  }

  .left {
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: 1px solid var(--clr-main-text);
  }

  .theme-switch-wrapper {
    justify-content: space-between;
  }

  .social-cards-wrapper {
    grid-template-columns: 1fr;
    grid-gap: 0rem;
  }

  .social-card {
    width: 100%;
    margin-bottom: 20px;
  }

  .overview-wrapper {
    grid-template-columns: 1fr;
    grid-gap: 0rem;
  }

  .overview-card {
    width: 100%;
    margin-bottom: 20px;
  }
}
